html {
    height: 100%;
}

body {
    background-image: url(montana-map.jpg);
    /* free to use from here: https://en.wikipedia.org/wiki/Going-to-the-Sun_Road */
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#mymap {
    width: 100%;
    height: 100%;
}