h1 {
    font-family: Courier, "Lucida Console", monospace;
    margin: auto;
    text-align: center;
}

body {
    background-image: url(city.jpg);
    /* free to use from here: https://www.pexels.com/photo/city-streets-skyline-buildings-1329/ */
}

video {
    display: block;
    margin: auto;
}